.place__title {
  font-size: 32px;
  line-height: 35px;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    width: 90%;
  }
}

@media screen and (min-width: 932px) {
  .place__title {
    font-size: 55px;
    line-height: 58px;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
    letter-spacing: 0.5px;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
    letter-spacing: 0.5px;
  }
}
