.place__title {
  font-size: calc((100vw - 320px) / (768 - 320) * (42 - 32) + 32px);
  line-height: calc((100vw - 320px) / (768 - 320) * (46 - 35) + 35px);
  margin: 0;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .place__title {
    font-size: calc((100vw - 768px) / (1024 - 768) * (72 - 42) + 42px);
    line-height: calc((100vw - 768px) / (1024 - 768) * (76 - 46) + 46px);
    white-space: break-spaces;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
    letter-spacing: 0.5px;
  }
}

