.lead__title {
  font-size: calc((100vw - 320px) / (768 - 320) * (96 - 40) + 40px);
  line-height: calc((100vw - 320px) / (768 - 320) * (100 - 44) + 44px);
  text-align: center;
  white-space: pre-line;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
  }
}
