.intro {
  font-family: "Inter";
  margin: calc((100vw - 320px) / (768 - 320) * (88 - 64) + 64px) 16px 0;
  min-width: calc((100vw - 320px) / (768 - 320) * (720 - 288) + 288px);
}

@media screen and (min-width: 768px) {
  .intro {
    min-width: unset;
    width: calc((100vw - 768px) / (1024 - 768) * (690 - 720) + 720px);
    margin-top: 88px;
    margin-left: calc((100vw - 768px) / (1024 - 768) * (48 - 24) + 24px);
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    min-width: 690px;
    margin-top: 92px;
    margin-left: calc((100vw - 1024px) / (1280 - 1024) * (148 - 48) + 48px);
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    margin-left: 148px;
    margin-top: 95px;
  }
}
